volumes:
  etc_wireguard:

services:
  wg-easy:
    environment:
    #  Optional:
      - PORT=51821
      - HOST=0.0.0.0
      - INSECURE=false 

    image: ghcr.io/wg-easy/wg-easy:15
    container_name: wg-easy
    networks:
      traefik:
      wg:
        ipv4_address: 10.42.42.42
        ipv6_address: fdcc:ad94:bacf:61a3::2a
    volumes:
      - etc_wireguard:/etc/wireguard
      - /lib/modules:/lib/modules:ro
    ports:
      - "51820:51820/udp"
      - "51821:51821/tcp"
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
      # - NET_RAW # ⚠️ Uncomment if using Podman
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.src_valid_mark=1
      - net.ipv6.conf.all.disable_ipv6=0
      - net.ipv6.conf.all.forwarding=1
      - net.ipv6.conf.default.forwarding=1

    labels: 
      - "traefik.enable=true"
      - "traefik.http.routers.wg-easy.rule=Host(`wireguard.stevan.sexidude.com`)"
      - "traefik.http.routers.wg-easy.entrypoints=websecure"
      - "traefik.http.routers.wg-easy.tls=true"
      - "traefik.http.routers.wg-easy.tls.certresolver=ssl"
      - "traefik.http.services.wg-easy.loadbalancer.server.port=51821"

      # force redirect http -> https
      - "traefik.http.routers.wg-easy.rule=Host(`wireguard.stevan.sexidude.com`)"
      - "traefik.http.routers.wg-easy.entrypoints=web"
      - "traefik.http.routers.wg-easy.middlewares=redirect-to-https"
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"


networks:
  traefik:
      external: true
      name: traefik_network 
  wg:
    driver: bridge
    enable_ipv6: true
    ipam:
      driver: default
      config:
        - subnet: 10.42.42.0/24
        - subnet: fdcc:ad94:bacf:61a3::/64