services:
  app:
    build:
      context: .
      dockerfile: ./docker/Dockerfile
    container_name: laravel_app
    networks:
      traefik:
    restart: unless-stopped
    env_file:
      - .env.prod
    volumes:
      - .:/var/www/html
      - ./storage:/var/www/html/storage
    depends_on:
      - mysql

  nginx:
    image: nginx:alpine
    container_name: laravel_nginx
    networks:
      traefik:
    restart: unless-stopped
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html:ro
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app
    labels:
      traefik.enable: "true"
      traefik.docker.network: "traefik_network"
      traefik.http.services.pihole.loadbalancer.server.port: "8080"

      # HTTPS router
      traefik.http.routers.pihole.rule: "Host(`websters.stevan.sexidude.com`)"
      traefik.http.routers.pihole.entrypoints: "websecure"
      traefik.http.routers.pihole.tls: "true"
      traefik.http.routers.pihole.tls.certresolver: "ssl"


      # HTTP -> HTTPS redirect router
      traefik.http.routers.pihole-http.rule: "Host(`websters.stevan.sexidude.com`)"
      traefik.http.routers.pihole-http.entrypoints: "web"
      traefik.http.routers.pihole-http.middlewares: "redirect-to-https"

      # Redirect middleware
      traefik.http.middlewares.redirect-to-https.redirectscheme.scheme: "https"



  mysql:
    image: mysql:latest
    container_name: laravel_mysql
    restart: unless-stopped
    networks:
      traefik:
    environment:
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: rootpassword
    volumes:
      - mysql-data:/var/lib/mysql
    ports:
      - "3306:3306"
  
volumes:
  mysql-data:


networks:
  traefik:
    external: true
    name: traefik_network  
