
services:
  traefik:
      container_name: traefik
      image: traefik:latest
      networks:
        - traefik
      ports:
        - "80:80"
        - "8080:8080"
        - "443:443"
        - "6000:6000"
      volumes:
        - /var/run/docker.sock:/var/run/docker.sock
        - ./config/traefik.yaml:/etc/traefik/traefik.yaml:ro
      restart: unless-stopped

networks:
  traefik:
    external: true