
services:
  traefik:
      container_name: traefik
      image: traefik:latest
      networks:
        - traefik
      ports:
        - "80:80"
        - "443:443"
      volumes:
        - /var/run/docker.sock:/var/run/docker.sock
        - ./config/traefik.yaml:/etc/traefik/traefik.yaml:ro
        - ./letsencrypt:/letsencrypt:rw
      restart: unless-stopped

networks:
  traefik:
    name: traefik_network  