services:
  nginx:
    image: nginx:latest
    volumes:
      - ./html:/usr/share/nginx/html:ro
    networks:
      - traefik
    labels: 
      - "traefik.enable=true"
      - "traefik.http.routers.nginx.rule=Host(`stevan.sexidude.com`)"
      - "traefik.http.routers.nginx.entrypoints=web"
      - "traefik.http.services.nginx.loadbalancer.server.port=80"
    restart: unless-stopped

networks:
  traefik:
    external: true