services:
  nginx:
    image: nginx:latest
    volumes:
      - ./html:/usr/share/nginx/html:ro
    networks:
      - traefik
    labels: 
      - "traefik.enable=true"
      - "traefik.http.routers.nginx.rule=Host(`website.stevan.sexidude.com`)"
      - "traefik.http.routers.nginx.entrypoints=websecure"
    restart: unless-stopped

networks:
  traefik:
    external: true
    name: traefik_network  